<header class="site-header">
    <link rel="stylesheet" href="header.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <nav class="navbar">

        <!-- Logo -->
        <a href="../index.html" class="logo">
            <img src="../assets/logo/adoxinfluence.png" alt="Digital Agency Logo">
        </a>


        <!-- Mobile Menu Toggle -->
        <input type="checkbox" id="menu-toggle" class="menu-toggle">

        <label for="menu-toggle" class="menu-icon">
            <span></span>
            <span></span>
            <span></span>
        </label>


        <!-- Navigation -->
        <div class="nav-content">

            <ul class="nav-links">

                <li>
                    <a href="/index.html" data-page="home">
                        Home
                    </a>
                </li>

                <li>
                    <a href="/pages/about.html" data-page="For Brands">
                        For Brands
                    </a>
                </li>


                <li>
                    <a href="/pages/contact.html" data-page="For Creators">
                        For Creators
                    </a>
                </li>
                <li>
                    <a href="/pages/contact.html" data-page="Contact">
                        Contact
                    </a>
                </li>

            </ul>


            <!-- CTA -->
            <div class="nav-btn-div">
                <a href="/pages/contact.html" class="nav-btn nav-btn1">
                    Brands
                    <span>↗</span>
                </a>
                <a href="/pages/contact.html" class="nav-btn nav-btn2">
                    Creators
                    <span>↗</span>
                </a>
            </div>

        </div>

    </nav>

</header>
