<header class="site-header">

    <nav class="navbar">

        <!-- Logo -->
        <a href="../index.html" class="logo" aria-label="AdoXInfluence Home">
            <img
                src="assets/logo/adoxinfluence.png"
                alt="AdoXInfluence"
            >
        </a>


        <!-- Mobile Menu Toggle -->
        <input
            type="checkbox"
            id="menu-toggle"
            class="menu-toggle"
            aria-label="Toggle navigation"
        >

        <label
            for="menu-toggle"
            class="menu-icon"
            aria-label="Open navigation menu"
        >
            <span></span>
            <span></span>
            <span></span>
        </label>


        <!-- Navigation -->
        <div class="nav-content">

            <ul class="nav-links">

                <li>
                    <a href="../index.html" data-page="home">
                        Home
                    </a>
                </li>

                <li>
                    <a href="../pages/brands.html" data-page="brands">
                        For Brands
                    </a>
                </li>

                <li>
                    <a href="../pages/creators.html" data-page="creators">
                        For Creators
                    </a>
                </li>

                <!-- <li>
                    <a href="../pages/work.html" data-page="work">
                        Work
                    </a>
                </li> -->

                <li>
                    <a href="../pages/contact.html" data-page="contact">
                        Contact
                    </a>
                </li>

            </ul>


            <!-- CTA -->
            <div class="nav-btn-div">

                <a
                    href="../pages/brands.html"
                    class="nav-btn nav-btn1"
                >
                    <span>Brands</span>
                    <b>↗</b>
                </a>

                <a
                    href="../pages/creators.html"
                    class="nav-btn nav-btn2"
                >
                    <span>Creators</span>
                    <b>↗</b>
                </a>

            </div>

        </div>

    </nav>

</header>